#main {
  position: relative;
  .Sticky {
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 516px;
    width: 80px;
    color: #333;
    font: normal 12px/16px "Noto Sans";
    letter-spacing: -0.3px;
    transition: top 0.2s;
  }

  section {

  }
}
